#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1531px 779px #fff, 299px 1812px #fff, 328px 351px #fff,
    1884px 641px #fff, 1740px 524px #fff, 1740px 1640px #fff, 527px 685px #fff,
    214px 266px #fff, 1709px 115px #fff, 387px 1676px #fff, 780px 477px #fff,
    412px 1747px #fff, 480px 374px #fff, 1849px 782px #fff, 907px 148px #fff,
    1402px 1349px #fff, 37px 1781px #fff, 398px 955px #fff, 905px 480px #fff,
    158px 1880px #fff, 1195px 163px #fff, 1116px 436px #fff, 1540px 1788px #fff,
    416px 1642px #fff, 1734px 839px #fff, 917px 636px #fff, 1236px 822px #fff,
    1450px 1624px #fff, 1946px 844px #fff, 460px 1152px #fff, 231px 1194px #fff,
    38px 1582px #fff, 796px 337px #fff, 370px 1215px #fff, 1143px 1050px #fff,
    152px 985px #fff, 1500px 1600px #fff, 361px 532px #fff, 1726px 1630px #fff,
    126px 766px #fff, 1829px 1537px #fff, 1542px 118px #fff, 243px 121px #fff,
    1043px 1332px #fff, 1814px 110px #fff, 673px 487px #fff, 1447px 99px #fff,
    1052px 480px #fff, 1627px 580px #fff, 764px 423px #fff, 1894px 1615px #fff,
    1552px 61px #fff, 811px 793px #fff, 600px 642px #fff, 790px 590px #fff,
    1473px 1456px #fff, 1835px 618px #fff, 1861px 1599px #fff, 694px 1890px #fff,
    1618px 248px #fff, 514px 1143px #fff, 578px 70px #fff, 954px 1837px #fff,
    96px 1436px #fff, 483px 780px #fff, 42px 1742px #fff, 1950px 1173px #fff,
    1773px 529px #fff, 152px 1245px #fff, 1622px 1981px #fff, 1565px 719px #fff,
    1854px 1314px #fff, 1975px 1053px #fff, 1414px 134px #fff, 256px 86px #fff,
    1799px 1036px #fff, 729px 1239px #fff, 999px 483px #fff, 1796px 64px #fff,
    1826px 963px #fff, 606px 449px #fff, 1738px 1486px #fff, 762px 578px #fff,
    116px 1641px #fff, 318px 1757px #fff, 532px 613px #fff, 73px 1947px #fff,
    256px 1569px #fff, 17px 1654px #fff, 886px 1045px #fff, 1595px 1143px #fff,
    1777px 695px #fff, 686px 1966px #fff, 531px 570px #fff, 1244px 1614px #fff,
    317px 240px #fff, 1176px 1371px #fff, 862px 1973px #fff, 504px 16px #fff,
    747px 1216px #fff, 1422px 569px #fff, 451px 1285px #fff, 608px 1583px #fff,
    1980px 342px #fff, 1161px 1559px #fff, 360px 1382px #fff, 1005px 206px #fff,
    760px 1748px #fff, 515px 225px #fff, 1787px 1733px #fff, 1024px 467px #fff,
    1544px 235px #fff, 1092px 1247px #fff, 1921px 470px #fff, 1729px 197px #fff,
    348px 1031px #fff, 1710px 649px #fff, 1761px 960px #fff, 511px 196px #fff,
    872px 705px #fff, 522px 1327px #fff, 400px 1368px #fff, 78px 502px #fff,
    395px 48px #fff, 640px 1113px #fff, 951px 1095px #fff, 1913px 1184px #fff,
    885px 1044px #fff, 1517px 1673px #fff, 1288px 1917px #fff,
    1118px 1638px #fff, 1640px 1558px #fff, 1440px 1413px #fff,
    1498px 640px #fff, 1117px 1043px #fff, 516px 1143px #fff, 854px 434px #fff,
    40px 399px #fff, 1878px 804px #fff, 1597px 1068px #fff, 1524px 1248px #fff,
    1294px 900px #fff, 1337px 222px #fff, 554px 825px #fff, 119px 1968px #fff,
    1207px 260px #fff, 1721px 1503px #fff, 814px 698px #fff, 1572px 1260px #fff,
    851px 1222px #fff, 1698px 162px #fff, 1345px 65px #fff, 1437px 1182px #fff,
    1567px 1005px #fff, 1844px 1004px #fff, 91px 799px #fff, 1105px 1964px #fff,
    1853px 1205px #fff, 1454px 1876px #fff, 143px 1792px #fff, 152px 1004px #fff,
    313px 52px #fff, 1611px 310px #fff, 1498px 258px #fff, 1402px 704px #fff,
    1815px 166px #fff, 1935px 1317px #fff, 1913px 1673px #fff, 1554px 660px #fff,
    1303px 108px #fff, 94px 400px #fff, 1123px 344px #fff, 1367px 113px #fff,
    512px 1420px #fff, 1881px 1731px #fff, 1297px 1025px #fff,
    1485px 1675px #fff, 1812px 496px #fff, 1001px 1910px #fff, 334px 1366px #fff,
    405px 462px #fff, 43px 356px #fff, 287px 91px #fff, 335px 1392px #fff,
    1640px 561px #fff, 372px 946px #fff, 594px 627px #fff, 1018px 1997px #fff,
    1333px 1669px #fff, 740px 703px #fff, 1025px 785px #fff, 1482px 251px #fff,
    1693px 74px #fff, 626px 1662px #fff, 1695px 1924px #fff, 293px 1776px #fff,
    73px 1065px #fff, 321px 1968px #fff, 82px 29px #fff, 1758px 242px #fff,
    173px 217px #fff, 1732px 84px #fff, 81px 268px #fff, 1356px 1206px #fff,
    799px 538px #fff, 1770px 1718px #fff, 1727px 436px #fff, 423px 1416px #fff,
    983px 230px #fff, 14px 71px #fff, 1984px 1843px #fff, 598px 1918px #fff,
    1798px 1067px #fff, 1758px 37px #fff, 1284px 1929px #fff, 28px 1355px #fff,
    1293px 981px #fff, 85px 992px #fff, 868px 528px #fff, 1914px 1511px #fff,
    1345px 1780px #fff, 1738px 969px #fff, 542px 322px #fff, 1740px 686px #fff,
    1786px 61px #fff, 84px 809px #fff, 1404px 21px #fff, 1617px 60px #fff,
    73px 1731px #fff, 1402px 1046px #fff, 278px 183px #fff, 1044px 968px #fff,
    841px 704px #fff, 269px 1816px #fff, 571px 257px #fff, 799px 1280px #fff,
    350px 1228px #fff, 1313px 669px #fff, 1964px 1075px #fff, 1378px 1770px #fff,
    4px 275px #fff, 669px 823px #fff, 648px 1861px #fff, 77px 154px #fff,
    677px 1653px #fff, 189px 730px #fff, 449px 1277px #fff, 809px 156px #fff,
    1972px 1037px #fff, 696px 727px #fff, 1298px 1985px #fff, 1995px 769px #fff,
    381px 1319px #fff, 103px 375px #fff, 1246px 502px #fff, 1913px 154px #fff,
    1469px 653px #fff, 554px 916px #fff, 256px 683px #fff, 1457px 1983px #fff,
    1553px 513px #fff, 1874px 278px #fff, 716px 1085px #fff, 319px 511px #fff,
    1659px 1607px #fff, 104px 1005px #fff, 597px 1419px #fff, 166px 1328px #fff,
    592px 934px #fff, 753px 80px #fff, 1387px 1973px #fff, 643px 1403px #fff,
    795px 819px #fff, 346px 937px #fff, 501px 1927px #fff, 1113px 1948px #fff,
    1415px 780px #fff, 1333px 980px #fff, 504px 627px #fff, 1985px 965px #fff,
    988px 1913px #fff, 389px 713px #fff, 1988px 868px #fff, 6px 862px #fff,
    1026px 1115px #fff, 1762px 1041px #fff, 546px 1835px #fff, 251px 1512px #fff,
    1902px 1136px #fff, 1833px 128px #fff, 472px 1476px #fff, 344px 1425px #fff,
    1749px 1795px #fff, 1756px 145px #fff, 460px 237px #fff, 1126px 1140px #fff,
    1886px 1090px #fff, 1860px 1629px #fff, 1968px 430px #fff, 766px 1076px #fff,
    1773px 1581px #fff, 568px 1668px #fff, 1451px 530px #fff, 1390px 1679px #fff,
    1863px 647px #fff, 833px 979px #fff, 846px 475px #fff, 569px 595px #fff,
    18px 606px #fff, 1170px 1166px #fff, 451px 365px #fff, 1900px 1153px #fff,
    842px 1713px #fff, 974px 721px #fff, 816px 1159px #fff, 511px 1983px #fff,
    1395px 1993px #fff, 472px 1149px #fff, 1435px 1221px #fff, 129px 124px #fff,
    828px 416px #fff, 992px 749px #fff, 992px 198px #fff, 1757px 1957px #fff,
    394px 944px #fff, 1068px 273px #fff, 241px 1528px #fff, 1833px 291px #fff,
    1274px 878px #fff, 1549px 584px #fff, 501px 662px #fff, 903px 814px #fff,
    1315px 1124px #fff, 914px 1350px #fff, 1294px 1160px #fff, 470px 1243px #fff,
    1168px 1px #fff, 1076px 1890px #fff, 1124px 1472px #fff, 927px 1858px #fff,
    1011px 323px #fff, 125px 554px #fff, 258px 328px #fff, 400px 1717px #fff,
    1113px 1340px #fff, 1931px 1482px #fff, 1701px 487px #fff, 890px 656px #fff,
    1445px 1224px #fff, 415px 299px #fff, 1905px 1127px #fff, 1971px 1208px #fff,
    1330px 1257px #fff, 590px 1716px #fff, 1480px 276px #fff, 1305px 906px #fff,
    1578px 1836px #fff, 1650px 546px #fff, 1055px 367px #fff, 697px 125px #fff,
    319px 37px #fff, 1184px 654px #fff, 1032px 995px #fff, 37px 1905px #fff,
    1244px 1633px #fff, 609px 371px #fff, 171px 1950px #fff, 56px 1553px #fff,
    1351px 1852px #fff, 1583px 223px #fff, 976px 456px #fff, 1540px 569px #fff,
    312px 1222px #fff, 1520px 848px #fff, 741px 654px #fff, 1342px 1349px #fff,
    1613px 312px #fff, 958px 1361px #fff, 246px 1123px #fff, 1817px 1283px #fff,
    175px 1957px #fff, 1546px 1893px #fff, 1057px 1971px #fff, 554px 1649px #fff,
    227px 403px #fff, 1176px 1681px #fff, 1164px 1530px #fff, 537px 1707px #fff,
    948px 1577px #fff, 287px 530px #fff, 658px 1402px #fff, 453px 615px #fff,
    880px 1536px #fff, 315px 1161px #fff, 1647px 782px #fff, 1794px 132px #fff,
    537px 1117px #fff, 1107px 1408px #fff, 1829px 18px #fff, 477px 301px #fff,
    1493px 300px #fff, 503px 1021px #fff, 1294px 1361px #fff, 132px 1181px #fff,
    1026px 1262px #fff, 1596px 1309px #fff, 282px 1050px #fff, 253px 1656px #fff,
    375px 665px #fff, 120px 1829px #fff, 804px 260px #fff, 1427px 866px #fff,
    1306px 385px #fff, 261px 472px #fff, 948px 299px #fff, 1861px 639px #fff,
    1310px 1918px #fff, 1724px 1506px #fff, 1390px 6px #fff, 1451px 370px #fff,
    1082px 18px #fff, 1107px 668px #fff, 1855px 565px #fff, 388px 4px #fff,
    1680px 232px #fff, 1408px 54px #fff, 747px 971px #fff, 1081px 924px #fff,
    165px 847px #fff, 646px 1210px #fff, 775px 1797px #fff, 924px 625px #fff,
    391px 841px #fff, 372px 1133px #fff, 372px 1799px #fff, 499px 180px #fff,
    397px 1297px #fff, 434px 1935px #fff, 90px 1484px #fff, 1928px 548px #fff,
    399px 1269px #fff, 1510px 991px #fff, 819px 1437px #fff, 1027px 1894px #fff,
    260px 349px #fff, 1341px 371px #fff, 1388px 571px #fff, 175px 1451px #fff,
    1530px 952px #fff, 468px 122px #fff, 719px 1445px #fff, 1279px 617px #fff,
    927px 1802px #fff, 918px 280px #fff, 1771px 1165px #fff, 205px 397px #fff,
    1988px 508px #fff, 564px 2px #fff, 336px 1634px #fff, 47px 149px #fff,
    1303px 397px #fff, 1077px 421px #fff, 131px 1581px #fff, 1812px 1500px #fff,
    1969px 541px #fff, 1657px 768px #fff, 162px 1317px #fff, 126px 198px #fff,
    115px 977px #fff, 1224px 1966px #fff, 407px 366px #fff, 18px 77px #fff,
    1434px 1420px #fff, 107px 267px #fff, 848px 514px #fff, 824px 1233px #fff,
    1804px 1830px #fff, 218px 1745px #fff, 288px 1329px #fff, 1445px 27px #fff,
    853px 1943px #fff, 779px 1221px #fff, 371px 912px #fff, 1237px 622px #fff,
    773px 1783px #fff, 970px 355px #fff, 1040px 839px #fff, 1380px 223px #fff,
    1937px 1559px #fff, 1063px 1184px #fff, 847px 807px #fff, 1519px 164px #fff,
    1251px 1185px #fff, 1894px 1782px #fff, 640px 955px #fff, 262px 1834px #fff,
    1780px 1143px #fff, 127px 473px #fff, 181px 1562px #fff, 1095px 1825px #fff,
    483px 768px #fff, 759px 1900px #fff, 1875px 1825px #fff, 300px 190px #fff,
    1381px 1153px #fff, 1413px 841px #fff, 355px 1361px #fff, 652px 1423px #fff,
    1382px 758px #fff, 398px 917px #fff, 1934px 1761px #fff, 955px 1115px #fff,
    725px 1499px #fff, 1385px 1345px #fff, 221px 309px #fff, 211px 231px #fff,
    498px 1421px #fff, 102px 308px #fff, 1592px 1071px #fff, 1912px 1719px #fff,
    996px 101px #fff, 425px 1092px #fff, 1243px 903px #fff, 517px 367px #fff,
    1977px 1868px #fff, 1233px 1877px #fff, 1003px 672px #fff, 387px 431px #fff,
    1603px 1151px #fff, 1175px 1502px #fff, 1871px 269px #fff, 84px 1997px #fff,
    483px 1910px #fff, 1070px 1967px #fff, 1796px 553px #fff, 894px 1256px #fff,
    286px 990px #fff, 1852px 1981px #fff, 1446px 1055px #fff, 1539px 228px #fff,
    341px 1577px #fff, 1359px 1154px #fff, 273px 1212px #fff, 653px 1897px #fff,
    1732px 1361px #fff, 1849px 981px #fff, 1423px 671px #fff, 294px 118px #fff,
    832px 1314px #fff, 45px 342px #fff, 1508px 1186px #fff, 1957px 1362px #fff,
    767px 336px #fff, 1343px 1490px #fff, 588px 1263px #fff, 32px 1219px #fff,
    627px 1891px #fff, 1333px 1820px #fff, 976px 1565px #fff, 559px 1427px #fff,
    1709px 371px #fff, 548px 228px #fff, 804px 1949px #fff, 1609px 1723px #fff,
    1280px 429px #fff, 1513px 723px #fff, 1349px 1412px #fff, 1315px 1981px #fff,
    743px 1973px #fff, 40px 158px #fff, 1080px 732px #fff, 961px 967px #fff,
    267px 1689px #fff, 762px 1958px #fff, 1922px 616px #fff, 1386px 1185px #fff,
    1273px 500px #fff, 1457px 1840px #fff, 1836px 967px #fff, 738px 215px #fff,
    1213px 1262px #fff, 69px 7px #fff, 1653px 13px #fff, 1810px 1049px #fff,
    904px 115px #fff, 1683px 483px #fff, 48px 1283px #fff, 1013px 727px #fff,
    192px 381px #fff, 486px 1512px #fff, 721px 124px #fff, 252px 1739px #fff,
    909px 1802px #fff, 174px 748px #fff, 668px 584px #fff, 836px 1501px #fff,
    1899px 339px #fff, 1612px 1989px #fff, 114px 1017px #fff, 963px 203px #fff,
    1254px 718px #fff, 1492px 1486px #fff, 315px 1387px #fff, 1267px 1px #fff,
    793px 223px #fff, 1676px 1103px #fff, 650px 899px #fff, 67px 1429px #fff,
    948px 1323px #fff, 84px 1978px #fff, 1484px 1959px #fff, 722px 1791px #fff,
    1661px 972px #fff, 653px 550px #fff, 1675px 1627px #fff, 17px 1227px #fff,
    1894px 1587px #fff, 352px 1214px #fff, 509px 1611px #fff, 1300px 831px #fff,
    465px 175px #fff, 704px 1288px #fff, 609px 159px #fff, 408px 887px #fff,
    159px 100px #fff, 1289px 720px #fff, 851px 1552px #fff, 478px 525px #fff,
    1183px 247px #fff, 125px 203px #fff, 1616px 745px #fff, 1096px 798px #fff,
    236px 996px #fff, 1500px 264px #fff, 11px 1477px #fff, 736px 164px #fff,
    1073px 1467px #fff, 1016px 240px #fff, 927px 1699px #fff, 1560px 1234px #fff,
    710px 1439px #fff, 1641px 1507px #fff, 1165px 599px #fff, 800px 1392px #fff,
    1736px 1089px #fff, 1299px 1445px #fff, 245px 1194px #fff,
    1454px 1265px #fff, 113px 1867px #fff, 1206px 1251px #fff, 1595px 485px #fff,
    371px 288px #fff, 1278px 1003px #fff, 722px 71px #fff, 102px 165px #fff,
    1737px 1785px #fff, 1952px 1139px #fff, 1529px 1877px #fff,
    897px 1781px #fff, 111px 862px #fff, 1725px 1840px #fff, 1232px 1587px #fff,
    1825px 1613px #fff, 236px 158px #fff, 1094px 1767px #fff, 212px 89px #fff,
    477px 732px #fff, 1828px 208px #fff, 774px 1701px #fff, 1990px 1856px #fff,
    934px 19px #fff, 712px 837px #fff, 200px 1491px #fff, 502px 169px #fff,
    1652px 464px #fff, 755px 1065px #fff, 1269px 1164px #fff, 440px 1635px #fff,
    840px 694px #fff, 212px 823px #fff, 997px 1628px #fff, 1634px 1935px #fff,
    1376px 975px #fff, 599px 12px #fff, 1451px 1183px #fff, 1293px 865px #fff,
    854px 7px #fff, 202px 1055px #fff, 655px 1067px #fff, 1570px 1133px #fff,
    1013px 123px #fff, 571px 1656px #fff, 430px 1231px #fff, 370px 1731px #fff,
    1271px 816px #fff, 315px 1422px #fff, 1557px 381px #fff, 134px 1061px #fff,
    1801px 1316px #fff, 1632px 421px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1531px 779px #fff, 299px 1812px #fff, 328px 351px #fff,
    1884px 641px #fff, 1740px 524px #fff, 1740px 1640px #fff, 527px 685px #fff,
    214px 266px #fff, 1709px 115px #fff, 387px 1676px #fff, 780px 477px #fff,
    412px 1747px #fff, 480px 374px #fff, 1849px 782px #fff, 907px 148px #fff,
    1402px 1349px #fff, 37px 1781px #fff, 398px 955px #fff, 905px 480px #fff,
    158px 1880px #fff, 1195px 163px #fff, 1116px 436px #fff, 1540px 1788px #fff,
    416px 1642px #fff, 1734px 839px #fff, 917px 636px #fff, 1236px 822px #fff,
    1450px 1624px #fff, 1946px 844px #fff, 460px 1152px #fff, 231px 1194px #fff,
    38px 1582px #fff, 796px 337px #fff, 370px 1215px #fff, 1143px 1050px #fff,
    152px 985px #fff, 1500px 1600px #fff, 361px 532px #fff, 1726px 1630px #fff,
    126px 766px #fff, 1829px 1537px #fff, 1542px 118px #fff, 243px 121px #fff,
    1043px 1332px #fff, 1814px 110px #fff, 673px 487px #fff, 1447px 99px #fff,
    1052px 480px #fff, 1627px 580px #fff, 764px 423px #fff, 1894px 1615px #fff,
    1552px 61px #fff, 811px 793px #fff, 600px 642px #fff, 790px 590px #fff,
    1473px 1456px #fff, 1835px 618px #fff, 1861px 1599px #fff, 694px 1890px #fff,
    1618px 248px #fff, 514px 1143px #fff, 578px 70px #fff, 954px 1837px #fff,
    96px 1436px #fff, 483px 780px #fff, 42px 1742px #fff, 1950px 1173px #fff,
    1773px 529px #fff, 152px 1245px #fff, 1622px 1981px #fff, 1565px 719px #fff,
    1854px 1314px #fff, 1975px 1053px #fff, 1414px 134px #fff, 256px 86px #fff,
    1799px 1036px #fff, 729px 1239px #fff, 999px 483px #fff, 1796px 64px #fff,
    1826px 963px #fff, 606px 449px #fff, 1738px 1486px #fff, 762px 578px #fff,
    116px 1641px #fff, 318px 1757px #fff, 532px 613px #fff, 73px 1947px #fff,
    256px 1569px #fff, 17px 1654px #fff, 886px 1045px #fff, 1595px 1143px #fff,
    1777px 695px #fff, 686px 1966px #fff, 531px 570px #fff, 1244px 1614px #fff,
    317px 240px #fff, 1176px 1371px #fff, 862px 1973px #fff, 504px 16px #fff,
    747px 1216px #fff, 1422px 569px #fff, 451px 1285px #fff, 608px 1583px #fff,
    1980px 342px #fff, 1161px 1559px #fff, 360px 1382px #fff, 1005px 206px #fff,
    760px 1748px #fff, 515px 225px #fff, 1787px 1733px #fff, 1024px 467px #fff,
    1544px 235px #fff, 1092px 1247px #fff, 1921px 470px #fff, 1729px 197px #fff,
    348px 1031px #fff, 1710px 649px #fff, 1761px 960px #fff, 511px 196px #fff,
    872px 705px #fff, 522px 1327px #fff, 400px 1368px #fff, 78px 502px #fff,
    395px 48px #fff, 640px 1113px #fff, 951px 1095px #fff, 1913px 1184px #fff,
    885px 1044px #fff, 1517px 1673px #fff, 1288px 1917px #fff,
    1118px 1638px #fff, 1640px 1558px #fff, 1440px 1413px #fff,
    1498px 640px #fff, 1117px 1043px #fff, 516px 1143px #fff, 854px 434px #fff,
    40px 399px #fff, 1878px 804px #fff, 1597px 1068px #fff, 1524px 1248px #fff,
    1294px 900px #fff, 1337px 222px #fff, 554px 825px #fff, 119px 1968px #fff,
    1207px 260px #fff, 1721px 1503px #fff, 814px 698px #fff, 1572px 1260px #fff,
    851px 1222px #fff, 1698px 162px #fff, 1345px 65px #fff, 1437px 1182px #fff,
    1567px 1005px #fff, 1844px 1004px #fff, 91px 799px #fff, 1105px 1964px #fff,
    1853px 1205px #fff, 1454px 1876px #fff, 143px 1792px #fff, 152px 1004px #fff,
    313px 52px #fff, 1611px 310px #fff, 1498px 258px #fff, 1402px 704px #fff,
    1815px 166px #fff, 1935px 1317px #fff, 1913px 1673px #fff, 1554px 660px #fff,
    1303px 108px #fff, 94px 400px #fff, 1123px 344px #fff, 1367px 113px #fff,
    512px 1420px #fff, 1881px 1731px #fff, 1297px 1025px #fff,
    1485px 1675px #fff, 1812px 496px #fff, 1001px 1910px #fff, 334px 1366px #fff,
    405px 462px #fff, 43px 356px #fff, 287px 91px #fff, 335px 1392px #fff,
    1640px 561px #fff, 372px 946px #fff, 594px 627px #fff, 1018px 1997px #fff,
    1333px 1669px #fff, 740px 703px #fff, 1025px 785px #fff, 1482px 251px #fff,
    1693px 74px #fff, 626px 1662px #fff, 1695px 1924px #fff, 293px 1776px #fff,
    73px 1065px #fff, 321px 1968px #fff, 82px 29px #fff, 1758px 242px #fff,
    173px 217px #fff, 1732px 84px #fff, 81px 268px #fff, 1356px 1206px #fff,
    799px 538px #fff, 1770px 1718px #fff, 1727px 436px #fff, 423px 1416px #fff,
    983px 230px #fff, 14px 71px #fff, 1984px 1843px #fff, 598px 1918px #fff,
    1798px 1067px #fff, 1758px 37px #fff, 1284px 1929px #fff, 28px 1355px #fff,
    1293px 981px #fff, 85px 992px #fff, 868px 528px #fff, 1914px 1511px #fff,
    1345px 1780px #fff, 1738px 969px #fff, 542px 322px #fff, 1740px 686px #fff,
    1786px 61px #fff, 84px 809px #fff, 1404px 21px #fff, 1617px 60px #fff,
    73px 1731px #fff, 1402px 1046px #fff, 278px 183px #fff, 1044px 968px #fff,
    841px 704px #fff, 269px 1816px #fff, 571px 257px #fff, 799px 1280px #fff,
    350px 1228px #fff, 1313px 669px #fff, 1964px 1075px #fff, 1378px 1770px #fff,
    4px 275px #fff, 669px 823px #fff, 648px 1861px #fff, 77px 154px #fff,
    677px 1653px #fff, 189px 730px #fff, 449px 1277px #fff, 809px 156px #fff,
    1972px 1037px #fff, 696px 727px #fff, 1298px 1985px #fff, 1995px 769px #fff,
    381px 1319px #fff, 103px 375px #fff, 1246px 502px #fff, 1913px 154px #fff,
    1469px 653px #fff, 554px 916px #fff, 256px 683px #fff, 1457px 1983px #fff,
    1553px 513px #fff, 1874px 278px #fff, 716px 1085px #fff, 319px 511px #fff,
    1659px 1607px #fff, 104px 1005px #fff, 597px 1419px #fff, 166px 1328px #fff,
    592px 934px #fff, 753px 80px #fff, 1387px 1973px #fff, 643px 1403px #fff,
    795px 819px #fff, 346px 937px #fff, 501px 1927px #fff, 1113px 1948px #fff,
    1415px 780px #fff, 1333px 980px #fff, 504px 627px #fff, 1985px 965px #fff,
    988px 1913px #fff, 389px 713px #fff, 1988px 868px #fff, 6px 862px #fff,
    1026px 1115px #fff, 1762px 1041px #fff, 546px 1835px #fff, 251px 1512px #fff,
    1902px 1136px #fff, 1833px 128px #fff, 472px 1476px #fff, 344px 1425px #fff,
    1749px 1795px #fff, 1756px 145px #fff, 460px 237px #fff, 1126px 1140px #fff,
    1886px 1090px #fff, 1860px 1629px #fff, 1968px 430px #fff, 766px 1076px #fff,
    1773px 1581px #fff, 568px 1668px #fff, 1451px 530px #fff, 1390px 1679px #fff,
    1863px 647px #fff, 833px 979px #fff, 846px 475px #fff, 569px 595px #fff,
    18px 606px #fff, 1170px 1166px #fff, 451px 365px #fff, 1900px 1153px #fff,
    842px 1713px #fff, 974px 721px #fff, 816px 1159px #fff, 511px 1983px #fff,
    1395px 1993px #fff, 472px 1149px #fff, 1435px 1221px #fff, 129px 124px #fff,
    828px 416px #fff, 992px 749px #fff, 992px 198px #fff, 1757px 1957px #fff,
    394px 944px #fff, 1068px 273px #fff, 241px 1528px #fff, 1833px 291px #fff,
    1274px 878px #fff, 1549px 584px #fff, 501px 662px #fff, 903px 814px #fff,
    1315px 1124px #fff, 914px 1350px #fff, 1294px 1160px #fff, 470px 1243px #fff,
    1168px 1px #fff, 1076px 1890px #fff, 1124px 1472px #fff, 927px 1858px #fff,
    1011px 323px #fff, 125px 554px #fff, 258px 328px #fff, 400px 1717px #fff,
    1113px 1340px #fff, 1931px 1482px #fff, 1701px 487px #fff, 890px 656px #fff,
    1445px 1224px #fff, 415px 299px #fff, 1905px 1127px #fff, 1971px 1208px #fff,
    1330px 1257px #fff, 590px 1716px #fff, 1480px 276px #fff, 1305px 906px #fff,
    1578px 1836px #fff, 1650px 546px #fff, 1055px 367px #fff, 697px 125px #fff,
    319px 37px #fff, 1184px 654px #fff, 1032px 995px #fff, 37px 1905px #fff,
    1244px 1633px #fff, 609px 371px #fff, 171px 1950px #fff, 56px 1553px #fff,
    1351px 1852px #fff, 1583px 223px #fff, 976px 456px #fff, 1540px 569px #fff,
    312px 1222px #fff, 1520px 848px #fff, 741px 654px #fff, 1342px 1349px #fff,
    1613px 312px #fff, 958px 1361px #fff, 246px 1123px #fff, 1817px 1283px #fff,
    175px 1957px #fff, 1546px 1893px #fff, 1057px 1971px #fff, 554px 1649px #fff,
    227px 403px #fff, 1176px 1681px #fff, 1164px 1530px #fff, 537px 1707px #fff,
    948px 1577px #fff, 287px 530px #fff, 658px 1402px #fff, 453px 615px #fff,
    880px 1536px #fff, 315px 1161px #fff, 1647px 782px #fff, 1794px 132px #fff,
    537px 1117px #fff, 1107px 1408px #fff, 1829px 18px #fff, 477px 301px #fff,
    1493px 300px #fff, 503px 1021px #fff, 1294px 1361px #fff, 132px 1181px #fff,
    1026px 1262px #fff, 1596px 1309px #fff, 282px 1050px #fff, 253px 1656px #fff,
    375px 665px #fff, 120px 1829px #fff, 804px 260px #fff, 1427px 866px #fff,
    1306px 385px #fff, 261px 472px #fff, 948px 299px #fff, 1861px 639px #fff,
    1310px 1918px #fff, 1724px 1506px #fff, 1390px 6px #fff, 1451px 370px #fff,
    1082px 18px #fff, 1107px 668px #fff, 1855px 565px #fff, 388px 4px #fff,
    1680px 232px #fff, 1408px 54px #fff, 747px 971px #fff, 1081px 924px #fff,
    165px 847px #fff, 646px 1210px #fff, 775px 1797px #fff, 924px 625px #fff,
    391px 841px #fff, 372px 1133px #fff, 372px 1799px #fff, 499px 180px #fff,
    397px 1297px #fff, 434px 1935px #fff, 90px 1484px #fff, 1928px 548px #fff,
    399px 1269px #fff, 1510px 991px #fff, 819px 1437px #fff, 1027px 1894px #fff,
    260px 349px #fff, 1341px 371px #fff, 1388px 571px #fff, 175px 1451px #fff,
    1530px 952px #fff, 468px 122px #fff, 719px 1445px #fff, 1279px 617px #fff,
    927px 1802px #fff, 918px 280px #fff, 1771px 1165px #fff, 205px 397px #fff,
    1988px 508px #fff, 564px 2px #fff, 336px 1634px #fff, 47px 149px #fff,
    1303px 397px #fff, 1077px 421px #fff, 131px 1581px #fff, 1812px 1500px #fff,
    1969px 541px #fff, 1657px 768px #fff, 162px 1317px #fff, 126px 198px #fff,
    115px 977px #fff, 1224px 1966px #fff, 407px 366px #fff, 18px 77px #fff,
    1434px 1420px #fff, 107px 267px #fff, 848px 514px #fff, 824px 1233px #fff,
    1804px 1830px #fff, 218px 1745px #fff, 288px 1329px #fff, 1445px 27px #fff,
    853px 1943px #fff, 779px 1221px #fff, 371px 912px #fff, 1237px 622px #fff,
    773px 1783px #fff, 970px 355px #fff, 1040px 839px #fff, 1380px 223px #fff,
    1937px 1559px #fff, 1063px 1184px #fff, 847px 807px #fff, 1519px 164px #fff,
    1251px 1185px #fff, 1894px 1782px #fff, 640px 955px #fff, 262px 1834px #fff,
    1780px 1143px #fff, 127px 473px #fff, 181px 1562px #fff, 1095px 1825px #fff,
    483px 768px #fff, 759px 1900px #fff, 1875px 1825px #fff, 300px 190px #fff,
    1381px 1153px #fff, 1413px 841px #fff, 355px 1361px #fff, 652px 1423px #fff,
    1382px 758px #fff, 398px 917px #fff, 1934px 1761px #fff, 955px 1115px #fff,
    725px 1499px #fff, 1385px 1345px #fff, 221px 309px #fff, 211px 231px #fff,
    498px 1421px #fff, 102px 308px #fff, 1592px 1071px #fff, 1912px 1719px #fff,
    996px 101px #fff, 425px 1092px #fff, 1243px 903px #fff, 517px 367px #fff,
    1977px 1868px #fff, 1233px 1877px #fff, 1003px 672px #fff, 387px 431px #fff,
    1603px 1151px #fff, 1175px 1502px #fff, 1871px 269px #fff, 84px 1997px #fff,
    483px 1910px #fff, 1070px 1967px #fff, 1796px 553px #fff, 894px 1256px #fff,
    286px 990px #fff, 1852px 1981px #fff, 1446px 1055px #fff, 1539px 228px #fff,
    341px 1577px #fff, 1359px 1154px #fff, 273px 1212px #fff, 653px 1897px #fff,
    1732px 1361px #fff, 1849px 981px #fff, 1423px 671px #fff, 294px 118px #fff,
    832px 1314px #fff, 45px 342px #fff, 1508px 1186px #fff, 1957px 1362px #fff,
    767px 336px #fff, 1343px 1490px #fff, 588px 1263px #fff, 32px 1219px #fff,
    627px 1891px #fff, 1333px 1820px #fff, 976px 1565px #fff, 559px 1427px #fff,
    1709px 371px #fff, 548px 228px #fff, 804px 1949px #fff, 1609px 1723px #fff,
    1280px 429px #fff, 1513px 723px #fff, 1349px 1412px #fff, 1315px 1981px #fff,
    743px 1973px #fff, 40px 158px #fff, 1080px 732px #fff, 961px 967px #fff,
    267px 1689px #fff, 762px 1958px #fff, 1922px 616px #fff, 1386px 1185px #fff,
    1273px 500px #fff, 1457px 1840px #fff, 1836px 967px #fff, 738px 215px #fff,
    1213px 1262px #fff, 69px 7px #fff, 1653px 13px #fff, 1810px 1049px #fff,
    904px 115px #fff, 1683px 483px #fff, 48px 1283px #fff, 1013px 727px #fff,
    192px 381px #fff, 486px 1512px #fff, 721px 124px #fff, 252px 1739px #fff,
    909px 1802px #fff, 174px 748px #fff, 668px 584px #fff, 836px 1501px #fff,
    1899px 339px #fff, 1612px 1989px #fff, 114px 1017px #fff, 963px 203px #fff,
    1254px 718px #fff, 1492px 1486px #fff, 315px 1387px #fff, 1267px 1px #fff,
    793px 223px #fff, 1676px 1103px #fff, 650px 899px #fff, 67px 1429px #fff,
    948px 1323px #fff, 84px 1978px #fff, 1484px 1959px #fff, 722px 1791px #fff,
    1661px 972px #fff, 653px 550px #fff, 1675px 1627px #fff, 17px 1227px #fff,
    1894px 1587px #fff, 352px 1214px #fff, 509px 1611px #fff, 1300px 831px #fff,
    465px 175px #fff, 704px 1288px #fff, 609px 159px #fff, 408px 887px #fff,
    159px 100px #fff, 1289px 720px #fff, 851px 1552px #fff, 478px 525px #fff,
    1183px 247px #fff, 125px 203px #fff, 1616px 745px #fff, 1096px 798px #fff,
    236px 996px #fff, 1500px 264px #fff, 11px 1477px #fff, 736px 164px #fff,
    1073px 1467px #fff, 1016px 240px #fff, 927px 1699px #fff, 1560px 1234px #fff,
    710px 1439px #fff, 1641px 1507px #fff, 1165px 599px #fff, 800px 1392px #fff,
    1736px 1089px #fff, 1299px 1445px #fff, 245px 1194px #fff,
    1454px 1265px #fff, 113px 1867px #fff, 1206px 1251px #fff, 1595px 485px #fff,
    371px 288px #fff, 1278px 1003px #fff, 722px 71px #fff, 102px 165px #fff,
    1737px 1785px #fff, 1952px 1139px #fff, 1529px 1877px #fff,
    897px 1781px #fff, 111px 862px #fff, 1725px 1840px #fff, 1232px 1587px #fff,
    1825px 1613px #fff, 236px 158px #fff, 1094px 1767px #fff, 212px 89px #fff,
    477px 732px #fff, 1828px 208px #fff, 774px 1701px #fff, 1990px 1856px #fff,
    934px 19px #fff, 712px 837px #fff, 200px 1491px #fff, 502px 169px #fff,
    1652px 464px #fff, 755px 1065px #fff, 1269px 1164px #fff, 440px 1635px #fff,
    840px 694px #fff, 212px 823px #fff, 997px 1628px #fff, 1634px 1935px #fff,
    1376px 975px #fff, 599px 12px #fff, 1451px 1183px #fff, 1293px 865px #fff,
    854px 7px #fff, 202px 1055px #fff, 655px 1067px #fff, 1570px 1133px #fff,
    1013px 123px #fff, 571px 1656px #fff, 430px 1231px #fff, 370px 1731px #fff,
    1271px 816px #fff, 315px 1422px #fff, 1557px 381px #fff, 134px 1061px #fff,
    1801px 1316px #fff, 1632px 421px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 779px 518px #fff, 1001px 1407px #fff, 561px 1140px #fff,
    1222px 1694px #fff, 898px 1322px #fff, 830px 724px #fff, 553px 468px #fff,
    1175px 855px #fff, 173px 1571px #fff, 780px 1652px #fff, 1413px 537px #fff,
    356px 43px #fff, 24px 950px #fff, 742px 505px #fff, 2000px 1639px #fff,
    6px 1071px #fff, 743px 1912px #fff, 1534px 1754px #fff, 1427px 260px #fff,
    1715px 1497px #fff, 90px 1414px #fff, 1936px 585px #fff, 1592px 857px #fff,
    297px 379px #fff, 1202px 1641px #fff, 27px 413px #fff, 782px 1090px #fff,
    902px 206px #fff, 1973px 103px #fff, 1840px 1900px #fff, 1170px 49px #fff,
    1579px 870px #fff, 1784px 1880px #fff, 1057px 1606px #fff, 933px 740px #fff,
    883px 1721px #fff, 222px 913px #fff, 1250px 1377px #fff, 1869px 1039px #fff,
    448px 187px #fff, 688px 1800px #fff, 1447px 187px #fff, 466px 934px #fff,
    450px 482px #fff, 1742px 818px #fff, 1335px 1314px #fff, 1310px 1807px #fff,
    856px 236px #fff, 801px 1342px #fff, 978px 325px #fff, 1228px 1459px #fff,
    778px 673px #fff, 1916px 1123px #fff, 888px 1534px #fff, 1599px 1891px #fff,
    690px 887px #fff, 420px 452px #fff, 1443px 953px #fff, 680px 598px #fff,
    1172px 76px #fff, 1244px 984px #fff, 346px 1038px #fff, 1416px 1655px #fff,
    1991px 1639px #fff, 1719px 1877px #fff, 1453px 1403px #fff, 655px 285px #fff,
    97px 1930px #fff, 1783px 283px #fff, 1665px 87px #fff, 969px 1135px #fff,
    477px 1849px #fff, 1916px 1488px #fff, 1194px 1530px #fff,
    1504px 1098px #fff, 255px 254px #fff, 534px 1316px #fff, 378px 40px #fff,
    1002px 59px #fff, 301px 1151px #fff, 1457px 1009px #fff, 368px 1473px #fff,
    572px 1628px #fff, 1092px 1679px #fff, 1500px 1928px #fff, 185px 1347px #fff,
    1339px 874px #fff, 551px 84px #fff, 1771px 842px #fff, 569px 688px #fff,
    352px 1693px #fff, 1867px 802px #fff, 810px 1056px #fff, 1227px 377px #fff,
    608px 1695px #fff, 1544px 701px #fff, 1204px 994px #fff, 702px 477px #fff,
    1195px 106px #fff, 1789px 579px #fff, 1454px 961px #fff, 1097px 695px #fff,
    57px 856px #fff, 1308px 104px #fff, 662px 1064px #fff, 707px 596px #fff,
    1695px 925px #fff, 1988px 1105px #fff, 1389px 51px #fff, 1312px 728px #fff,
    865px 441px #fff, 1914px 1029px #fff, 835px 1246px #fff, 1947px 991px #fff,
    1387px 1566px #fff, 408px 1503px #fff, 1902px 566px #fff, 1351px 707px #fff,
    545px 852px #fff, 1779px 464px #fff, 199px 1006px #fff, 330px 543px #fff,
    411px 1070px #fff, 1954px 1149px #fff, 1107px 960px #fff, 1203px 1394px #fff,
    996px 507px #fff, 1943px 1591px #fff, 190px 773px #fff, 1223px 1096px #fff,
    535px 1627px #fff, 895px 479px #fff, 1580px 290px #fff, 1892px 564px #fff,
    437px 635px #fff, 138px 1946px #fff, 1547px 1362px #fff, 300px 440px #fff,
    1901px 198px #fff, 1457px 1191px #fff, 310px 670px #fff, 1220px 1897px #fff,
    814px 901px #fff, 378px 1876px #fff, 1438px 869px #fff, 1132px 1186px #fff,
    1041px 308px #fff, 1241px 789px #fff, 1643px 1293px #fff, 1538px 1302px #fff,
    1034px 53px #fff, 310px 602px #fff, 1453px 1230px #fff, 6px 33px #fff,
    435px 1689px #fff, 665px 317px #fff, 41px 199px #fff, 758px 1200px #fff,
    879px 848px #fff, 558px 545px #fff, 123px 1882px #fff, 282px 983px #fff,
    124px 1664px #fff, 1297px 1584px #fff, 1917px 431px #fff, 319px 1115px #fff,
    780px 1608px #fff, 1889px 1493px #fff, 704px 255px #fff, 1298px 1908px #fff,
    1968px 1625px #fff, 1453px 1644px #fff, 1760px 1415px #fff, 145px 30px #fff,
    282px 408px #fff, 1084px 35px #fff, 687px 1898px #fff, 491px 643px #fff,
    1579px 572px #fff, 1828px 761px #fff, 348px 1911px #fff, 1613px 1915px #fff,
    1528px 739px #fff, 157px 1591px #fff, 275px 345px #fff, 228px 1380px #fff,
    1208px 1405px #fff, 1300px 1366px #fff, 1628px 1990px #fff,
    310px 1613px #fff, 813px 633px #fff, 1991px 482px #fff, 1824px 884px #fff,
    926px 190px #fff, 1349px 102px #fff, 1479px 100px #fff, 1565px 1320px #fff,
    813px 144px #fff, 1926px 776px #fff, 518px 293px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 779px 518px #fff, 1001px 1407px #fff, 561px 1140px #fff,
    1222px 1694px #fff, 898px 1322px #fff, 830px 724px #fff, 553px 468px #fff,
    1175px 855px #fff, 173px 1571px #fff, 780px 1652px #fff, 1413px 537px #fff,
    356px 43px #fff, 24px 950px #fff, 742px 505px #fff, 2000px 1639px #fff,
    6px 1071px #fff, 743px 1912px #fff, 1534px 1754px #fff, 1427px 260px #fff,
    1715px 1497px #fff, 90px 1414px #fff, 1936px 585px #fff, 1592px 857px #fff,
    297px 379px #fff, 1202px 1641px #fff, 27px 413px #fff, 782px 1090px #fff,
    902px 206px #fff, 1973px 103px #fff, 1840px 1900px #fff, 1170px 49px #fff,
    1579px 870px #fff, 1784px 1880px #fff, 1057px 1606px #fff, 933px 740px #fff,
    883px 1721px #fff, 222px 913px #fff, 1250px 1377px #fff, 1869px 1039px #fff,
    448px 187px #fff, 688px 1800px #fff, 1447px 187px #fff, 466px 934px #fff,
    450px 482px #fff, 1742px 818px #fff, 1335px 1314px #fff, 1310px 1807px #fff,
    856px 236px #fff, 801px 1342px #fff, 978px 325px #fff, 1228px 1459px #fff,
    778px 673px #fff, 1916px 1123px #fff, 888px 1534px #fff, 1599px 1891px #fff,
    690px 887px #fff, 420px 452px #fff, 1443px 953px #fff, 680px 598px #fff,
    1172px 76px #fff, 1244px 984px #fff, 346px 1038px #fff, 1416px 1655px #fff,
    1991px 1639px #fff, 1719px 1877px #fff, 1453px 1403px #fff, 655px 285px #fff,
    97px 1930px #fff, 1783px 283px #fff, 1665px 87px #fff, 969px 1135px #fff,
    477px 1849px #fff, 1916px 1488px #fff, 1194px 1530px #fff,
    1504px 1098px #fff, 255px 254px #fff, 534px 1316px #fff, 378px 40px #fff,
    1002px 59px #fff, 301px 1151px #fff, 1457px 1009px #fff, 368px 1473px #fff,
    572px 1628px #fff, 1092px 1679px #fff, 1500px 1928px #fff, 185px 1347px #fff,
    1339px 874px #fff, 551px 84px #fff, 1771px 842px #fff, 569px 688px #fff,
    352px 1693px #fff, 1867px 802px #fff, 810px 1056px #fff, 1227px 377px #fff,
    608px 1695px #fff, 1544px 701px #fff, 1204px 994px #fff, 702px 477px #fff,
    1195px 106px #fff, 1789px 579px #fff, 1454px 961px #fff, 1097px 695px #fff,
    57px 856px #fff, 1308px 104px #fff, 662px 1064px #fff, 707px 596px #fff,
    1695px 925px #fff, 1988px 1105px #fff, 1389px 51px #fff, 1312px 728px #fff,
    865px 441px #fff, 1914px 1029px #fff, 835px 1246px #fff, 1947px 991px #fff,
    1387px 1566px #fff, 408px 1503px #fff, 1902px 566px #fff, 1351px 707px #fff,
    545px 852px #fff, 1779px 464px #fff, 199px 1006px #fff, 330px 543px #fff,
    411px 1070px #fff, 1954px 1149px #fff, 1107px 960px #fff, 1203px 1394px #fff,
    996px 507px #fff, 1943px 1591px #fff, 190px 773px #fff, 1223px 1096px #fff,
    535px 1627px #fff, 895px 479px #fff, 1580px 290px #fff, 1892px 564px #fff,
    437px 635px #fff, 138px 1946px #fff, 1547px 1362px #fff, 300px 440px #fff,
    1901px 198px #fff, 1457px 1191px #fff, 310px 670px #fff, 1220px 1897px #fff,
    814px 901px #fff, 378px 1876px #fff, 1438px 869px #fff, 1132px 1186px #fff,
    1041px 308px #fff, 1241px 789px #fff, 1643px 1293px #fff, 1538px 1302px #fff,
    1034px 53px #fff, 310px 602px #fff, 1453px 1230px #fff, 6px 33px #fff,
    435px 1689px #fff, 665px 317px #fff, 41px 199px #fff, 758px 1200px #fff,
    879px 848px #fff, 558px 545px #fff, 123px 1882px #fff, 282px 983px #fff,
    124px 1664px #fff, 1297px 1584px #fff, 1917px 431px #fff, 319px 1115px #fff,
    780px 1608px #fff, 1889px 1493px #fff, 704px 255px #fff, 1298px 1908px #fff,
    1968px 1625px #fff, 1453px 1644px #fff, 1760px 1415px #fff, 145px 30px #fff,
    282px 408px #fff, 1084px 35px #fff, 687px 1898px #fff, 491px 643px #fff,
    1579px 572px #fff, 1828px 761px #fff, 348px 1911px #fff, 1613px 1915px #fff,
    1528px 739px #fff, 157px 1591px #fff, 275px 345px #fff, 228px 1380px #fff,
    1208px 1405px #fff, 1300px 1366px #fff, 1628px 1990px #fff,
    310px 1613px #fff, 813px 633px #fff, 1991px 482px #fff, 1824px 884px #fff,
    926px 190px #fff, 1349px 102px #fff, 1479px 100px #fff, 1565px 1320px #fff,
    813px 144px #fff, 1926px 776px #fff, 518px 293px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1665px 1946px #fff, 1358px 402px #fff, 624px 1876px #fff,
    1981px 1599px #fff, 330px 1234px #fff, 272px 155px #fff, 337px 780px #fff,
    1268px 775px #fff, 1376px 1218px #fff, 494px 707px #fff, 369px 353px #fff,
    645px 296px #fff, 1272px 1096px #fff, 1430px 356px #fff, 511px 227px #fff,
    1650px 919px #fff, 461px 1997px #fff, 1079px 1125px #fff, 102px 1426px #fff,
    949px 1233px #fff, 956px 971px #fff, 524px 216px #fff, 1651px 1887px #fff,
    196px 310px #fff, 1653px 340px #fff, 1862px 1208px #fff, 1057px 1560px #fff,
    1461px 1685px #fff, 576px 1399px #fff, 1238px 1734px #fff, 358px 1004px #fff,
    1308px 887px #fff, 501px 1228px #fff, 1415px 66px #fff, 1298px 1559px #fff,
    569px 325px #fff, 892px 953px #fff, 699px 357px #fff, 1901px 1238px #fff,
    1635px 457px #fff, 1799px 1328px #fff, 694px 440px #fff, 1148px 808px #fff,
    901px 1533px #fff, 23px 28px #fff, 1293px 461px #fff, 1515px 1977px #fff,
    777px 1729px #fff, 39px 238px #fff, 235px 228px #fff, 1003px 947px #fff,
    993px 865px #fff, 1277px 1306px #fff, 1249px 361px #fff, 50px 787px #fff,
    1798px 1857px #fff, 304px 1620px #fff, 1139px 1855px #fff,
    1803px 1099px #fff, 709px 1696px #fff, 1322px 1707px #fff,
    1285px 1287px #fff, 1890px 1099px #fff, 1229px 387px #fff, 627px 418px #fff,
    470px 402px #fff, 669px 1393px #fff, 722px 603px #fff, 169px 720px #fff,
    635px 508px #fff, 1853px 707px #fff, 1117px 1226px #fff, 1899px 1938px #fff,
    1613px 1064px #fff, 36px 1737px #fff, 1926px 1013px #fff, 1160px 1621px #fff,
    1477px 1161px #fff, 1080px 452px #fff, 190px 1779px #fff, 1296px 1708px #fff,
    1788px 1532px #fff, 247px 965px #fff, 97px 195px #fff, 161px 907px #fff,
    1832px 382px #fff, 704px 528px #fff, 610px 915px #fff, 1225px 932px #fff,
    1621px 1071px #fff, 1409px 1226px #fff, 1885px 644px #fff, 875px 941px #fff,
    37px 459px #fff, 1803px 1622px #fff, 539px 1206px #fff, 1266px 919px #fff,
    527px 718px #fff, 1257px 1300px #fff, 353px 350px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1665px 1946px #fff, 1358px 402px #fff, 624px 1876px #fff,
    1981px 1599px #fff, 330px 1234px #fff, 272px 155px #fff, 337px 780px #fff,
    1268px 775px #fff, 1376px 1218px #fff, 494px 707px #fff, 369px 353px #fff,
    645px 296px #fff, 1272px 1096px #fff, 1430px 356px #fff, 511px 227px #fff,
    1650px 919px #fff, 461px 1997px #fff, 1079px 1125px #fff, 102px 1426px #fff,
    949px 1233px #fff, 956px 971px #fff, 524px 216px #fff, 1651px 1887px #fff,
    196px 310px #fff, 1653px 340px #fff, 1862px 1208px #fff, 1057px 1560px #fff,
    1461px 1685px #fff, 576px 1399px #fff, 1238px 1734px #fff, 358px 1004px #fff,
    1308px 887px #fff, 501px 1228px #fff, 1415px 66px #fff, 1298px 1559px #fff,
    569px 325px #fff, 892px 953px #fff, 699px 357px #fff, 1901px 1238px #fff,
    1635px 457px #fff, 1799px 1328px #fff, 694px 440px #fff, 1148px 808px #fff,
    901px 1533px #fff, 23px 28px #fff, 1293px 461px #fff, 1515px 1977px #fff,
    777px 1729px #fff, 39px 238px #fff, 235px 228px #fff, 1003px 947px #fff,
    993px 865px #fff, 1277px 1306px #fff, 1249px 361px #fff, 50px 787px #fff,
    1798px 1857px #fff, 304px 1620px #fff, 1139px 1855px #fff,
    1803px 1099px #fff, 709px 1696px #fff, 1322px 1707px #fff,
    1285px 1287px #fff, 1890px 1099px #fff, 1229px 387px #fff, 627px 418px #fff,
    470px 402px #fff, 669px 1393px #fff, 722px 603px #fff, 169px 720px #fff,
    635px 508px #fff, 1853px 707px #fff, 1117px 1226px #fff, 1899px 1938px #fff,
    1613px 1064px #fff, 36px 1737px #fff, 1926px 1013px #fff, 1160px 1621px #fff,
    1477px 1161px #fff, 1080px 452px #fff, 190px 1779px #fff, 1296px 1708px #fff,
    1788px 1532px #fff, 247px 965px #fff, 97px 195px #fff, 161px 907px #fff,
    1832px 382px #fff, 704px 528px #fff, 610px 915px #fff, 1225px 932px #fff,
    1621px 1071px #fff, 1409px 1226px #fff, 1885px 644px #fff, 875px 941px #fff,
    37px 459px #fff, 1803px 1622px #fff, 539px 1206px #fff, 1266px 919px #fff,
    527px 718px #fff, 1257px 1300px #fff, 353px 350px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
